/* FONTS */
h1, h2, h3, h4, h5, .button {
    font-family: "News Cycle", sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
}

h1 {
    font-size: 2.25em;
    text-transform: uppercase;
}
h2 {
    font-size: 2em;    
}
h3 {
    font-size: 1.75em;    
}
h4 {
    font-size: 1.5em;    
}
h5, .button {
    font-size: 1.25em;    
}

ul li, p {
    font-family: Arial, sans-serif;
    font-size: 1em;
}

/* Background */
body {
    background: url(../img/concrete_seamless.png);    
}

.bottom {
    margin-bottom: 10px;    
}